name: Go
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'
      - name: Install dependencies
        run: go get .
      - run: go install github.com/mfridman/tparse@latest
      - name: Build
        run: go build -v ./...
      - name: Test Internal
        run: go test ./internal -json | tparse -all -notests
